table {
  width: 80%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}

.mat-card {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%;
  height: fit-content;
}

tr.example-detail-row {
  height: 0;
}
