<mat-card class="mat-card">
  <mat-card-content>
    <mat-form-field appearance="fill" class="mat-form-field">
      <mat-label>Login:</mat-label>
      <input matInput #login />
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-field">
      <mat-label>Password:</mat-label>
      <input matInput #password type="password" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-field">
      <mat-label>Name:</mat-label>
      <input matInput #name />
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-field">
      <mat-label>Pesel:</mat-label>
      <input matInput #pesel />
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>
    <button
      mat-raised-button
      class="mat-form-field-button"
      color="primary"
      (click)="
        registrationClick(login.value, password.value, name.value, pesel.value)
      "
    >
      Register
    </button>
  </mat-card-content>
</mat-card>
