.mat-form-field {
    width: 70%;
    margin-left: 15%;
  }
  
  .mat-card {
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    height: fit-content;
  }
  
  .mat-form-field-button {
    margin-top: 20px;
    margin-left: 15%;
    width: 17.5%;
  }

  .validation{
    margin-bottom: 20px;
    margin-top: -20px;    
  }