.form__mat-form-field {
  width: 70%;
  margin-left: 15%; }

.form__mat-form-field-button {
  margin-left: 15%;
  width: 17.5%; }
  .form__mat-form-field-button--validation {
    margin-bottom: 20px;
    margin-top: -20px; }

.mat-card {
  margin-top: 5%;
  width: 60%;
  margin-left: 20%;
  height: fit-content;
  margin-bottom: 20px; }
  .mat-card__header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
