.mat-form-field {
    width: 70%;
    margin-left: 15%;
  }
  
  .mat-card {
    margin-top: 5%; 
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
  }
  
  .mat-form-field-button {
    margin-top: 20px;
    margin-left: 15%;
    min-width: 17.5%;
  }

  .mat-card-header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  label{
    display: block;
    margin-left: 10%;
  }

  .visits-progress{
    margin-left: auto;
    margin-right: auto;
  }

  tr,th,td{
    min-width: 20px;
    width: fit-content;
    padding: 0 0 0 0;
  }

  .validation{
    margin-bottom: 20px;
    margin-top: -20px;    
  }
  