.form {
  &__mat-form-field {
    width: 70%;
    margin-left: 15%;
    &--validation {
      margin-bottom: 20px;
      margin-top: -20px;
    }
  }
  &__mat-form-field-button {
    margin-left: 15%;
  }
}

.mat-card {
  margin-top: 5%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  &__header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  &__visits-progress {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

label {
  display: block;
  margin-left: 10%;
}

tr,
th,
td {
  min-width: 20px;
  width: fit-content;
  padding: 1 1 1 1;
}
