@import "../style/form.scss";
@import "../style/mat-card.scss";

.mat-card-content-details {
  font-size: medium;
  position: relative;
  left: 40%;
  width: fit-content;
  &__heading {
    text-align: center;
  }
  &__secondary-heading {
    font-size: large;
    position: relative;
    right: 15%;
  }
}
