.mat-card {
  margin-top: 5%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: fit-content; }
  .mat-card__content {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #bbdefb; }
  .mat-card__header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .mat-card__visits-progress {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto; }
  .mat-card__button {
    height: fit-content;
    width: fit-content;
    border: none;
    margin-right: 20px; }
  .mat-card__mat-icon {
    font-size: 1.5em;
    height: fit-content;
    width: fit-content; }

tr,
th,
td {
  min-width: 20px;
  width: fit-content;
  padding: 1 1 1 1; }

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }
  table__detail-row {
    height: 0; }

.form__mat-form-field {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .form__mat-form-field--margin-bottom {
    margin-bottom: 20px; }

.visit-details {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px; }

.visit-medical-referral {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px; }
