.mat-card {
    margin-top: 5%;
    width: 60%;
    margin-left: 20%;
    height: fit-content;
  }

  label{
    display: block;
    text-align: left;
    margin-top: 20px;
    margin-left: 10%;
    font-size: large;
  }